li[id*=open_hours_overview] {
    .widget-control-actions {
        margin-top: 10px;
    }

    .widget-top a.widget-action:after {
        content: "\f139";
    }
}

.preview_open_widget {
    position: fixed;
    left: 18%;
    top: 0;
    z-index: -1;

    padding: 30px 15px;
    padding-top: 64px;
    height: 100%;
    width: 300px;
    overflow: scroll;

    border: 1px solid #ddd;
    border-top-width: 0;
    border-bottom-width: 0;

    background-color: #eee;

    opacity: 0;
    transform: translateX(-300px);
    transition: opacity, transform 0.2s ease-in-out;

    &,
    * {
        box-sizing: border-box;
    }

    @media screen and (max-width: 1660px) {
      left: 299px;
    }
}

.wp-full-overlay {
    transition: .2s margin ease-in-out;
}

.wp-full-overlay.is--open-hours-section-expanded {
    margin-left: 599px;
    margin-right: -300px;

    .preview_open_widget {
        opacity: 1;
        transform: translateX(0);
    }
}

.open-preview {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    padding: 14px 12px;

    border-bottom: 1px solid #DDDDDD;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.04);

    color: #585858;
    background-color: #FFFFFF;

    font-size: 14px;
    font-weight: 600;
}

.open_overview_shortcode {
    width: 100%;

    border-collapse: collapse;
    border: 1px solid #DDDDDD;

    tr {
        border-bottom: 1px solid #DDDDDD;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,0.04);

        background-color: #FFFFFF;

        &:last-child {
            border-bottom: 0;
        }
    }

    td {
        padding: 12px 14px;
    }
}

.open-entry {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.open-entry__day {
    font-weight: 600;
    font-size: 14px;
}

.open-entry__hours-schedule,
.open-entry__hours-closed {
    text-align: left;
}