li[id*=open_hours_overview] {
    .widget-control-actions {
        margin-top: 10px;
    }

    .widget-top a.widget-action:after {
        content: "\f139";
    }
    //
    //&.expanded {
    //
    //    .preview_open_widget {
    //        opacity: 1 !important;
    //        transition: opacity 0.2s;
    //    }
    //
    //    a.widget-action:after {
    //        content: "\f141";
    //    }
    //}

}

.preview_open_widget {
    position: fixed;
    left: 299px;
    top: 0;
    z-index: -1;

    padding: 30px 15px;
    height: 100%;
    width: 300px;
    box-sizing: border-box;
    overflow: scroll;

    border: 1px solid #ddd;
    border-top-width: 0;
    border-bottom-width: 0;

    background-color: #eee;

    transform: translateX(-300px);
    transition: transform 0.2s ease-in-out;
}

.wp-full-overlay {
    transition: .2s margin ease-in-out;
}

.wp-full-overlay.is--open-hours-section-expanded {
    margin-left: 600px;
    margin-right: -300px;

    .preview_open_widget {
        transform: translateX(0);
    }
}